<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" thread-count="1" name="Suite">
  <test  name="Test">
   <parameter name="driver" value="edgeDriver"/>
   <parameter name="grid" value="true"/>
    <classes>
      <class name="tests.UserRegisterTest"/>
    </classes>
  </test> <!-- Test -->
 <test  name="Test1">
    <parameter name="driver" value="chromeDriver"/>
    <classes>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
